#  Local .terraform directories
**/.terraform/

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# .tfplan files
**/*.tfplan

# terraform locks
**/.terraform.lock.hcl

# terraform plan directory from Makefile
**/terraform.tfplan.d

# terragrunt-cache
**/.terragrunt-cache/*

# terraform locks
.terraform.lock.hcl

**/.git/

# vim
**/*.swp
**/*.swo
